<header class="site-head wrapper">
    <div class="repel site-head__inner">
        <div class="site-head__brand">
            <a href="/" aria-current="page">
                Karthik Kadambi
            </a>
        </div>
        {% include "src/pattern-library/patterns/nav/nav.njk" %}
  </div>
  <hr/>
</header>