<section class="blog-teaser" aria-label="{{ ariaLabel | default(heading | default('Featured blog posts')) }}">
  {# Set heading level, default to h2 #}
  {%- set headingLevel = headingLevel | default('h2') -%}
  {{ ("<" + headingLevel + ' class="blog-teaser__heading">' + (heading | default('Featured Posts')) + "</" + headingLevel + ">") | safe }}

  {%- if subheading -%}
    <p class="blog-teaser__subheading">{{ subheading }}</p>
  {%- endif -%}

  {# Ensure we use the Eleventy "collections" global and have sensible defaults #}
  {%- set collectionName = collectionName | default('posts') -%}
  {%- set posts = (collections[collectionName] | default([])) | reverse -%}

  <div class="grid three-columns" data-layout="thirds">{% for post in posts -%}
    <article class="flow | blog-teaser__article">
        {%- set titleText = post.data.title | default('') -%}
        {%- set parts = titleText.split('|') -%}
        {%- set articleHeadingLevel = articleHeadingLevel | default('h3') -%}
        {# Nunjucks does not support ternary, so use if/else #}
        {%- if parts.length > 0 and parts[0] -%}
          {%- set articleHeadingText = parts[0] | trim -%}
        {%- else -%}
          {%- set articleHeadingText = titleText | trim -%}
        {%- endif -%}
        {{ (
          "<" + articleHeadingLevel + ' class="blog-teaser__article-heading"><a href="' + post.url + '">'
          + articleHeadingText
          + "</a></" + articleHeadingLevel + ">"
        ) | safe }}
        {%- set teaser = post.templateContent | striptags | truncate(125, false, '...') -%}
        <p>{{- teaser -}}</p>
    </article>{%- endfor %}
  </div>
</section>