---
layout: layouts/itinerary.html
title: Alaska Winter Adventure
description: Experience the magic of Alaska in winter with this unforgettable itinerary.
permalink: /itineraries/alaska-winter/
---

{% set itinerary = itineraries['alaska-winter'] %}
{% include "partials/itinerary-content.njk" %}