---
date: 2025-07-01
description: Itinerary for Crater Lake & Shasta Road Trip
keywords: Crater Lake, Mount Shasta, Oregon, California, road trip itinerary
permalink: /itineraries/crater-lake-shasta/
subtitle: Volcano Road Trip
title: Crater Lake & Shasta Road Trip | Volcano Road Trip
---

{% set itinerary = itineraries['crater-lake-shasta'] %}
{% include "partials/itinerary-content/itinerary-content.njk" %}
