---
date: 2017-09-01
description: Itinerary for Dubai & Abu Dhabi, UAE
keywords: Dubai, Abu Dhabi, UAE, travel itinerary
permalink: /itineraries/dubai-abu-dhabi/
subtitle: UAE Trip
title: Dubai & Abu Dhabi | UAE Trip
---

{% set itinerary = itineraries['dubai-abu-dhabi'] %}
{% include "partials/itinerary-content/itinerary-content.njk" %}
