---
date: 2017-09-01
description: 7-day Dubai & Abu Dhabi itinerary with daily plans, highlights, practical travel tips, transport advice, and dining recommendations for visitors.
keywords: Dubai, Abu Dhabi, UAE, travel itinerary
permalink: /itineraries/dubai-abu-dhabi/
subtitle: UAE Trip
title: Dubai & Abu Dhabi | United Arab Emirates
---

{% set itinerary = itineraries['dubai-abu-dhabi'] %}
{% include "partials/itinerary-content/itinerary-content.njk" %}
