---
date: 2025-10-03
description: A 5-day trip to Las Vegas exploring the Strip, Fremont Street, and nearby natural wonders like Antelope Canyon and Grand Canyon.
keywords: Las Vegas, itinerary, travel, Antelope Canyon, Grand Canyon, Horseshoe Bend, Strip, Fremont Street
permalink: /itineraries/las-vegas/
subtitle: City & Nature
title: Las Vegas Trip | City & Nature
---

{% set itinerary = itineraries['las-vegas'] %}
{% include "partials/itinerary-content/itinerary-content.njk" %}
