---
date: 2025-06-01
description: Itinerary for Mammoth Lakes & Tioga Pass
keywords: Mammoth Lakes, Tioga Pass, Yosemite, travel itinerary
permalink: /itineraries/mammoth-tioga/
subtitle: Eastern Sierra
title: Mammoth Lakes & Tioga Pass | Eastern Sierra
---

{% set itinerary = itineraries['mammoth-tioga'] %}
{% include "partials/itinerary-content/itinerary-content.njk" %}
