---
date: 2024-12-01
description: Itinerary for Mount Shasta Winter
keywords: Mount Shasta, California, winter travel itinerary
permalink: /itineraries/shasta/
subtitle: Winter Adventure
title: Mount Shasta Winter | Winter Adventure
---

{% set itinerary = itineraries['shasta'] %}
{% include "partials/itinerary-content/itinerary-content.njk" %}
