<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Karthik Kadambi">
    <meta name="description" content="Full Stack Web Developer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="webmention" href="https://webmention.io/karthikkadambi.com/webmention" />
    <link rel="me" href="https://github.com/karthikkadambi" />
    <title>{{ title }}</title>
</head>
<body>
    {% include "partials/header.html" %}
    <main tabindex="-1" id="main-content">{% block content %}{% endblock %}</main>
</body>
</html>