---
eleventyExcludeFromCollections: true
layout: false
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all -%}
{%- if not (page.url.includes('/feed/') or page.url.includes('feed.xml')) %}
    <url>
        <loc>{{ metadata.url }}{{ page.url | url }}</loc>
        <lastmod>{{ page.date.toISOString() }}</lastmod>
    </url>
{%- endif -%}
{%- endfor %}

{# collect unique tags from page frontmatter #}
{% set _allTags = [] %}
{% for page in collections.all %}
  {% if page.data.tags %}
    {% for tag in page.data.tags %}
      {% if _allTags.indexOf(tag) == -1 %}
        {% set _ = _allTags.push(tag) %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{# emit a sitemap URL for each tag (adjust '/tags/' prefix if your site uses a different tag page path) #}
{%- for tag in _allTags -%}
    <url>
        <loc>{{ metadata.url }}{{ '/tags/' + (tag | lower | replace(' ', '-') ) + '/' }}</loc>
        <lastmod>{{ page.date.toISOString() }}</lastmod>
    </url>
{%- endfor -%}
</urlset>