<section class="webmentions">
  <h3 class="header-branding">Webmentions</h3>
  <p>If you liked this article and think others should read it, please share it.</p>
  <ul>
    {% for mention in webmentions %}
      {% if mention['wm-target'] == canonical %}
        <li>
          {% if mention['wm-property'] == 'like-of' %}
            👍 <a href="{{ mention.url }}" rel="nofollow" target="_blank">{{ mention.author.name or mention.url }}</a> liked this.
          {% elif mention['wm-property'] == 'repost-of' %}
            🔁 <a href="{{ mention.url }}" rel="nofollow" target="_blank">{{ mention.author.name or mention.url }}</a> reposted this.
          {% elif mention.content and mention.content.text %}
            💬 <strong>{{ mention.author.name or mention.url }}</strong>: {{ mention.content.text | safe }}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>