{% if webmentions and webmentions | length > 0 %}
<section class="webmentions" aria-label="Webmentions">
  <h2 class="header-branding">Webmentions</h2>
  <p>If you liked this article and think others should read it, please share it.</p>
  {% set likeCount = 0 %}
  {% set repostCount = 0 %}
  {% set commentCount = 0 %}
  {% for mention in webmentions %}
    {% if mention['wm-target'] == canonical %}
      {% if mention['wm-property'] == 'like-of' %}
        {% set likeCount = likeCount + 1 %}
      {% elif mention['wm-property'] == 'repost-of' %}
        {% set repostCount = repostCount + 1 %}
      {% elif mention.content and mention.content.text %}
        {% set commentCount = commentCount + 1 %}
      {% endif %}
    {% endif %}
  {% endfor %}
  <div>
    👍 {{ likeCount }} 🔁 {{ repostCount }} 💬 {{ commentCount }}
  </div>
</section>
{% endif %}