.hero__hero-text-headline {
  font-size: 2.5rem;
  color: var(--accent-color);
}

.hero__hero-text-subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  /* Exception for contrast */
  color: light-dark(#856f00, #e5514a);
}