<section class="hero section-inset" aria-label="Hero content">
  <div class="grid" data-layout='50-50'>
    <div class="hero-text flow">
      <h1 class="hero-headline">Hi, I'm <span class="hero-highlight">Karthik Kadambi</span></h1>
      <p>Full Stack Web Developer · UX Enthusiast · Aspiring AI Engineer</p>
      <p class="hero-subheadline">
        I craft performant, accessible, and visually engaging web experiences with creativity and problem-solving at the core. I bring a balance of technical depth and breadth, coupled with adaptability, continuous learning, and meticulous attention to detail.
      </p>
      <button href="mailto:krtkram@gmail.com" class="hero-btn-primary">Let's connect</button>
      <button href="" class="hero-btn-secondary">View resume</button>
    </div>
    <img class="hero-image" src="https://placehold.co/600x400" alt="Karthik Kadambi's portrait"/>
  </div>
</section>