<div class="grid" data-layout='50-50'>
  <div class="hero-text">
    <h1 class="hero-headline">Hi, I'm <span class="hero-highlight">Karthik Kadambi</span></h1>
    <br />
    <p>Full Stack Web Developer · UX Enthusiast · Aspiring AI Engineer</p>
    <br />
    <p class="hero-subheadline">
      I craft performant, accessible, and visually engaging web experiences with creativity and problem-solving at the core. I bring a balance of technical depth and breadth, coupled with adaptability, continuous learning, and meticulous attention to detail.
    </p>
    <br />
    <a href="#contact" class="hero-btn-primary">Let's Connect</a>
    <a href="/resume.pdf" class="hero-btn-secondary">View Resume</a>
  </div>
  <img src="https://placehold.co/600x400"/>
</div>