/* Global styles */
@keyframes circle-in {
    from { clip-path: circle(0% at 50% 50%); }
    to { clip-path: circle(100% at 50% 50%); }
}

::view-transition-old(root) {
    animation-delay: 500ms;
}

::view-transition-new(root) {
    animation: circle-in 500ms;
}

@media (prefers-reduced-motion: reduce) {
    ::view-transition-group(root) {
        transition: none;
        animation: none;
    }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--size-step-1);
  font-family: var(--font-base);
  line-height: var(--leading-standard);
  font-size-adjust: from-font;
  margin: 0;
}

:is(h1, h2, h3, h4) {
  line-height: var(--leading-fine);
  text-wrap: balance;
}

h1 {
  font-size: var(--size-step-6);
  max-width: 20ch;
}

h2 {
  font-size: var(--size-step-5);
  max-width: 35ch;
}

h3 {
  font-size: var(--size-step-4);
  max-width: 35ch;
}

:is(h4, h5, h6) {
  font-size: var(--size-step-3);
}

p {
  margin-block: var(--flow-space, var(--space-m));
}

/* Lists with classes and roles will be out of standard flow, so remove the default spacing */
[role='list'][class],
[role='tablist'][class] {
  margin-block: 0;
  padding: 0;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--focus-color, currentColor);
  outline-offset: var(--focus-offset, 0.2lh);
}

/* Firefox is the only browser that doesn't outline the whole element unless you make it display: inline-block. That in itself causes multiple flow issues so we can detect it, using its own vendor prefix and reduce focus offset
*/
@supports (-moz-appearance: none) {
  :root {
    --focus-offset: 0.08em;
  }
}

::selection {
  background-color: var(--bg-color);
  color: var(--selection-color));
}

hr {
  border: none;
  border-block-start: var(--hr-stroke, var(--stroke));
  margin-block: var(--flow-space, var(--space-xl));
}

/* There's a .flow composition, but this prevents forms from having to have that applied where markup is harder to control in certain systems. It still uses the --flow-space variables though to make managing space easier */
form > * + * {
  margin-top: var(--flow-space, 1rem);
}

:is(input, select, textarea) {
  accent-color: var(--accent-color);
}

:is(input:not([type='checkbox'], [type='radio'], [type='color']), select, textarea) {
  padding: 0.5em 0.8em;
  border-radius: var(--radius-s);
  border: var(--stroke-solid);
  background: var(--bg-color);
  color: var(--text-color);
  width: 100%;

  &::placeholder {
    color: var(--color-mid);
    opacity: 1;
  }
}

/* Speicific styles - to fine tune */
.section-inset {
  background: light-dark(#F5F5F6, #1C1C22);
  padding: var(--space-m);
  /* Optional: add blur/glass effect for layering */
  backdrop-filter: blur(2px);
  /* subtle shadow for elevation */
  box-shadow: 0 2px 24px 0 rgba(0,0,0,0.08);
}

.header-branding {
  color: var(--accent-color);
}

// Blockquote styles
blockquote{    
    line-height: 52px;
    margin: 28px 0;
    padding: 0 0 0 26px;    
    position: relative;
}
blockquote:before {
    content: "";
    border-left: 6px solid var(--accent-color);
    position: absolute;
    bottom: 14px;
    top: 13px;
    left: 0;
}

// Table styles
table {
  width: 100%;
  border-collapse: collapse;
  margin-block: var(--flow-space, var(--space-m));
}
th, td {
  border: var(--stroke);
  padding: 0.5em 1em;
  text-align: left;
}
th {
  background-color: var(--accent-color);
  color: var(--text-color-inverted);
}