<header class="site-head wrapper">
    <div class="repel site-head__inner">
        <div class="site-head__brand">
            {% set current = page.url == '/' %}
            <a href="/" {% if current %}aria-current="page"{% endif %} aria-label="Home">
                Karthik Kadambi
            </a>
        </div>
        {% include "../nav/nav.njk" %}
    </div>
    <hr/>
</header>